﻿@model VendingMachine.Models.VendingMachineInfo

<div class="container">
    <div class="row">
        @Html.ValidationSummary()
    </div>
    <div class="row">
        <div class="col-sm-3 text-center">
            <h3>Total Cans</h3>
            <div class="text-center">@Html.DisplayFor(m => m.TotalCans)</div>
        </div>
        <div class="col-sm-3 text-center">
            <h3>Cans Sold</h3>
            <div class="text-center">@Html.DisplayFor(m => m.CansSold)</div>
        </div>
        <div class="col-sm-3 text-center">
            <h3>Cash Held</h3>
            <div class="text-center">@Html.DisplayFor(m => m.CashHeld)</div>
        </div>
        <div class="col-sm-3 text-center">
            <h3>Credit Card Total</h3>
            <div class="text-center">@Html.DisplayFor(m => m.CrediCardTotal)</div>
        </div>
    </div>
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-sm-3">
            @Html.ActionLink("Restock", "Restock", null, new {@class = "btn btn-warning"})
        </div>
    </div>
    @*<div class="row">
        <div class="col-sm-4"><h3>Cash</h3></div>
        <div class="col-sm-4"><h3>Credit Card</h3></div>
    </div>*@
    @foreach (var can in Model.Cans)
    {
        var label = $"{can.Flavour}({can.QuantityAvailable}) {can.Price:C2}";

        <div class="row" style="margin-bottom: 10px;">
            <div class="col-sm-3"><h4>@label</h4></div>
            <div class="col-sm-1">
                @Html.ActionLink("Cash", "BuyCash", "Home", new {flavour = can.Flavour}, new {@class = "btn btn-primary"})
            </div>
            <div class="col-sm-1">
                @Html.ActionLink("Credit Card", "BuyCreditCard", "Home", new {flavour = can.Flavour}, new {@class = "btn btn-primary"})
            </div>
        </div>
    }
</div>