﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.validation-summary-errors {
    font-size: 200%;
    color: black;
    background-color: red;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}